<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
</head>
<body>
    <h1>Mi Carrito</h1>

    {{#if cartItems.length}}
    <ul>
      {{#each cartItems}}
    <div>
        <h2>{{this.productName}}</h2>
        <p>Precio: ${{this.productPrice}}</p>
        <p>Cantidad: {{this.quantity}}</p>
        <p>Total por producto: ${{this.totalPrice}}</p>

        
        <button type="button" onclick="eliminarProducto('{{this.productId}}')">Eliminar del carrito</button>
    </div>
    {{/each}}
    </ul>

    <h3>Total del Carrito: ${{total}}</h3>
    {{else}}
    <p>Tu carrito está vacío.</p>
    {{/if}}

    <a href="/">Volver a la lista de productos</a>

    <script>
        
        function eliminarProducto(productId) {
           
            console.log("Product ID:", productId);  

            
            if (confirm('¿Estás seguro de eliminar este producto?')) {
                
                fetch(`/api/carts/products/${productId}`, {
                    method: 'DELETE',
                })
                .then(response => {
                    
                    if (response.ok) {
                        alert('Producto eliminado del carrito');
                        
                        window.location.reload();
                    } else {
                        alert('Hubo un problema al eliminar el producto');
                    }
                })
                .catch(error => {
                    
                    console.error('Error al eliminar el producto:', error);
                    alert('Error al eliminar el producto');
                });
            }
        }
    </script>
</body>
</html>





